.side-drawer {
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(100vw);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(35vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.go-back-x {
  padding: 10px;
  font-size: 50px;
  font-style: normal;
  font-family: Arial, sans-serif;
  margin-top: 10px;
  margin-left: 140px;
}

.loggedin-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-end;
  padding: 10px;
}

.loggedin-info > a > h1 {
  color: black;
  /* margin-right: 10px; */
  padding-right: 10px;
  font-family: "Roboto";
  font-display: italic;
}

.loggedout-info > a {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin: 20px;
}

.loggedout-info > a > h1 {
  color: black;
  /* margin-right: 10px; */
  padding-right: 10px;
}

/* arrow log-out */
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.divider {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding-bottom: 8px;
}

.list-element {
  width: 70px;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #521751;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}

nav {
  margin: 0;
  font-family: "Roboto";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
